<%= render "shared/snipper" %> 
<%= render "shared/topbar" %>
<!-- Navbar & Hero Start -->
        <div class="container-fluid nav-bar sticky-top px-0 px-lg-4 py-2 py-lg-0">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a href="" class="navbar-brand p-0">
                        <h1 class="display-6 text-primary"><i class="fas fa-car-alt me-3"></i></i>Cental</h1>
                        <!-- <img src="img/logo.png" alt="Logo"> -->
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav mx-auto py-0">
                            <%= link_to 'Home', home_path, class: 'nav-item nav-link' %>
                            <%= link_to 'About', about_path, class: 'nav-item nav-link' %>
                            <%= link_to 'Service', service_path, class: 'nav-item nav-link' %>
                            <%= link_to 'Blog', blog_path, class: 'nav-item nav-link' %>

                            <div class="nav-item dropdown">
                                <%= link_to '#', class: 'nav-link dropdown-toggle active', data: { bs_toggle: 'dropdown' } do %>
                                Pages
                                <% end %>
                                <div class="dropdown-menu m-0">
                                <%= link_to 'Our Feature', feature_path, class: 'dropdown-item feature active' %>
                                <%= link_to 'Our Cars', cars_path, class: 'dropdown-item' %>
                                <%= link_to 'Our Team', team_path, class: 'dropdown-item' %>
                                <%= link_to 'Testimonial', testimonial_path, class: 'dropdown-item' %>                      
                                </div>
                            </div>
                            <%= link_to 'Contact', contact_path, class: 'nav-item nav-link' %>
                        </div>
                        <a href="#" class="btn btn-primary rounded-pill py-2 px-4">Get Started</a>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Navbar & Hero End -->
         <!-- Header Start -->
        <div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Our Features</h4>
                <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active text-primary">Feature</li>
                </ol>    
            </div>
        </div>
        <!-- Header End -->
        <%= render "shared/feature" %>
        <%= render "shared/counter" %>
        <br><br><br>
        <%= render "shared/banner" %>
        <%= render "shared/footer" %>